<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <!--<script src="static/js/script.js"></script>-->
    <link rel="shortcut icon" href="static/images/escudo.ico">
    <title>Goleadores</title>
</head>
<body>

    <div>
        <h1>GOLEADORES HISTORICOS: CLUB ATLETICO BOCA JUNIORS</h1>
    </div>

    <div>
        <div>
            <h5>Nuevo Goleador</h5>
            <form action="/goleadores" method="POST">
                <label>Nombre</label>
                <input type="text" id="name" name="name"><br />
                <label>Goles</label>
                <input type="text" id="goals" name="goals"><br />
                <label>PG</label>
                <input type="text" id="pg" name="pg"><br />
                <button type="submit" onclick="guardar()">Guardar</button>
            </form>
        </div>
    </div>
    <div >
        <div>
            <h5>Goleadores</h5>
                <table class="customers">

                    <tr>
                        <th><small>NOMBRE</small></th>
                        <th><small>PG</small></th>
                        <th><small>GOLES</small></th>
                        <th><small>ACCIONES</small></th>
                    </tr>

            {% for goleador in goleadores %}
                <form action="/edit/{{goleador.id2}}" method="POST">

                    <tr class="cuerpo">
                        <td><input type="text" value="{{goleador.name}}" name="name"></td>
                        <td><input type="text" value="{{goleador.pg}}" name="pg"></td>
                        <td><input type="text" value="{{goleador.goals}}" name="goals"></td>
                        <td><button type="submit">Editar</button>
                            <a href="{{url_for('delete', goleador_name=goleador.id2)}}">Eliminar</a></td>
                    </tr>
                </form>

            </table>
        </div>
            {% endfor %}
    </div>
    
</body>
</html>
