<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="shortcut icon" href="static/images/escudo.ico">
    <title>Goleadores</title>
</head>
<body>

    <div >
        <h1>GOLEADORES HISTORICOS: CLUB ATLETICO BOCA JUNIORS</h1>
    </div>

    <div>
        <div>
            <div>
                <div>
                    <div>
                        <h5>Nuevo Goleador</h5>
                    </div>
                    <div>
                        <form action="/goleadores" method="POST">
                            <label>Nombre</label>
                            <input type="text" name="name"><br />
                            <label>Goles</label>
                            <input type="text" name="goals"><br />
                            <label>PG</label>
                            <input type="text" name="pg"><br />
                            <button type="submit">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>

            <div >
                <div>
                    <div>
                        <h5>Goleadores</h5>
                    </div>
                    <div>
                        <div>
                            {% for goleador in goleadores %}
                            
                                <div>
                                    <form action="/edit/{{goleador.id}}" method="POST">
                                        <small>NOMBRE</small>
                                        <input type="text" value="{{goleador.name}}" name="name">
                                        <small>PG</small>
                                        <input type="text" value="{{goleador.pg}}" name="pg">
                                        <small>GOLES</small>
                                        <input type="text" value="{{goleador.goals}}" name="goals">
                                        <button type="submit">Editar</button>
                                        <a href="{{url_for('delete', goleador_name=goleador.id)}}">Eliminar</a>
                                    </form>
                                </div>

                            {% endfor %}
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
